* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  position: relative;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background: url("Image/Netflix.jpg") no-repeat center center/cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.header {
  position: relative;
  padding: 20px 40px;
  z-index: 2;
}

.logo {
  width: 200px;
}

.sign-in-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-in-form {
  background: rgba(0, 0, 0, 0.75);
  padding: 60px 68px 40px;
  border-radius: 8px;
  width: 100%;
  max-width: 450px;
  color: white;
  margin-bottom: 60px;
}

.sign-in-form h1 {
  margin-bottom: 20px;
  font-size: 2rem;
}

.sign-in-form input {
  width: 100%;
  padding: 16px;
  margin-bottom: 20px;
  background: black;
  border: 1px solid #ffffff;
  border-radius: 4px;
  color: white;
  font-size: 1rem;
}

.submitBtn {
  width: 100%;
  padding: 16px;
  background: #e50914;
  border: none;
  font-weight: bold;
  color: white;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.sign-in-form button:hover {
  background: #f6121d;
}

.code-btn {
  background: #333;
  margin-top: 20px;
  width: 100%;
  padding: 16px;
  border: none;
  font-weight: bold;
  color: white;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.divider {
  text-align: center;
  margin: 20px 0;
  color: gray;
}

.form-links {
  text-align: center;
  margin-top: 20px;
}

.form-links a {
  color: white;
  font-size: 0.9rem;
}

.checkbox-wrapper {
  display: flex;
  color: white;
  font-size: 1rem;
  width: fit-content;
  margin: 30px 0;
  cursor: pointer;
  user-select: none;
}

.checkbox-wrapper input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  accent-color: white;
  pointer-events: none;
}

.signup {
  font-size: 1rem;
  color: #c1c0c0;
  margin-top: -20px;
}

.signup a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.signup a:hover {
  text-decoration: underline;
}

.disclaimer {
  margin-top: 20px;
  font-size: 0.8rem;
  color: gray;
}

.learn {
  margin: 20px 0;
}

.learn a {
  color: #0071eb;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 70px;
  margin: 0 auto;
  color: #ccc;
  background-color: rgb(29, 29, 29);
}

.footer-column {
  flex: 1 1 200px;
  margin-bottom: 20px;
}

.footer a {
  display: block;
  color: #ccc;
  text-decoration: underline;
  margin: 20px auto;
}

.footer .contact {
  font-size: 18px;
  margin-bottom: 20px;
}
